{% extends "base.html" %}

{% block content %}
<div class='container'><p>my goal is to make a simple, clutter-free, and completely independent site for film & television sentiment aggregation & analysis</p>

    <p>all twitter sentiment and movie reviews are scraped automatically and i use natural language processing and sentiment analysis to determine whether the review is positive or negative (via textblob)</p>
    
    <p>the backend is in django, front end is bootstrap, and machine learning / analysis is done using the python ML toolkit (sklearn,nltk,pandas,etc)
    </p>
    
    <p> the cute manatee pic is from austin673.  his deviant art is here: https://austin673.deviantart.com/</p>

</div>
{% endblock content %}