<!DOCTYPE html>
<html>
<head>
    {% include 'snippets/css.html' %}
        {% include 'snippets/js.html' %}
</head>

<body>
{% include 'snippets/nav.html' %}

    
    <div class='container' >
        <div class='row'>
            <div class='col-sm-2'> 

                <p>search</p>
                <div  id="searchfield"><form method="get" action="/search/"><input name="searchquery" class="biginput" id="autocomplete"></form></div>
                <p> movie </p>
            {% for movie in movie_list %}
                <a href='/show/{{ movie.slug }}/'>{{movie}} <small> {{movie.twitter_score}} | {{movie.critics_score}} </small></a>
                        <p> </p>
            {% endfor %}                
                                
                
                <p> tv </p>
            {% for obj in show_list %}
                        <a href='/show/{{ obj.slug }}/'>{{obj}} <small>{{obj.twitter_score}} | {{obj.critics_score}} </small></a>
                        <p> </p>
            {% endfor %}

            </div>
    <div class='col-sm-10'> 
    {% block content %}

    {% endblock content %}    
            </div>
        </div>

    </div>
    </body>
</html>
