

<style>
    
    body { font: 12px Arial;}
 
path { 
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}
 
.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

    
</style>


<script>

// Set the dimensions of the canvas / graph
var twitteraddr = '{{tweet_sentiment_addr}}'

var margin = {top: 30, right: 20, bottom: 30, left: 50},
    width = 400 - margin.left - margin.right,
    height = 200 - margin.top - margin.bottom;
    
// Parse the date / time
var parseDate = d3.time.format("%Y-%m-%d").parse;  
    
// Set the ranges
var x = d3.time.scale().range([0, width]);
var y = d3.scale.linear().range([height, 0]);

// Define the axes
var xAxis = d3.svg.axis().scale(x)
    .orient("bottom").ticks(5);
 
var yAxis = d3.svg.axis().scale(y)
    .orient("left").ticks(5);

// Define the line
var valueline = d3.svg.line()
    .x(function(d) { return x(d.timeoftweet); })
    .y(function(d) { return y(d.NetPositive); });  

var lastNetPos = 0;    
    // Adds the svg canvas
var svg = d3.select("#d2")
    .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
    .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    
//d3.csv("/home/ubuntu/cv/aerial/DeepNetsEO/DeepNetsForEO/nlp/site/src/static/content/westworld/sentiment_graphs/twitterdata.csv", function(data) {

    d3.csv(twitteraddr, function(data) {
    
    data.forEach(function(d){
        console.log(d.timeoftweet.substring(0,10));
        d.timeoftweet = parseDate(d.timeoftweet.substring(0,10));
        d.NetPositive = +d.NetPositive
        console.log(d)
        console.log('this iis a test')
            });
        
    // Scale the range of the data
    x.domain(d3.extent(data, function(d) { return d.timeoftweet; }));
    y.domain([-100, 100]);
    //    y.domain([d3.min(data, function(d) { return d.NetPositive; })-25, d3.max(data, function(d) { return d.NetPositive; })+25]);

    // Add the valueline path.
    svg.append("path")	
        .attr("class", "line")
        .attr("d", valueline(data));    

    // Add the X Axis
    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);  
    
    // Add the Y Axis
    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis);    
    
    svg.append("text")
            .attr("text-anchor", "middle")  // this makes it easy to centre the text as the transform is applied to the anchor
            .attr("transform", "translate("+ (-margin.left/1.5) +","+(height/2)+")rotate(-90)")  // text is drawn off the screen top left, move down and out and rotate
            .text("Twitter Sentiment");

        lastNetPos = console.log(data.slice(-1)[0].NetPositive) 

        return lastNetPos
});


</script>
